/* DESKTOP NAVIGATION */

.nav-wrapper{
    background:var(--primary-color);
    padding:1.5rem 0;
    cursor:pointer;
    z-index: 9999;

    .nav{
        display:flex;
        justify-content: space-between;
        align-items:center;

        &-menu{
            display:none;
            place-items: center;

            span{
                color:#fff !important;
            }

            @media screen and (max-width:1024px){
                display:grid;
            }
        }

        &-logo img{
            height:4.5rem;

            @media screen and (max-width:1024px){
                height:3rem;
            }
        }
        
        &-items{
            display:flex;
            position:relative;

            
            &-item{
                color:white;
                font-size:1.5rem;
                margin-right:2rem;
                display:flex;
                align-items:center;
                transition: transform 500ms ease;
                
                &:hover{
                    color:var(--secondary-color);
                }

                & span{
                    transition:transform 250ms ease;
                }

                &:hover span{
                    transform: rotate(-180deg);
                }

                &:hover .nav-items-dropdown{
                    display:block;
                }
                
                @media screen and (max-width:1024px){
                    display:none;
                }
            }

            &-dropdown{
                background: #fff;
                position:absolute;
                top:4.2rem;
                left:-6rem;
                border-radius: 4px;
                padding-bottom:5px;
                display:none;

                &-writing{
                    left:6rem;
                }

                &-about{
                    right:20rem;
                    left:auto;
                }

                &-triangle{
                    height:1.2rem;
                    width:2.4rem;
                    background:#fff;
                    margin:0 auto;
                    margin-top:-1rem;
                    clip-path:polygon(50% 0, 100% 100%, 0 100%);
                    margin-bottom: 5px;
                }

                &-item{
                    padding:4px 16px;
                    font-size:1.5rem;
                    color:var(--primary-color);

                    &:hover{
                        background:#EAF0F3;
                    }
                }

            }

            &-login{
                display:flex;
                align-items: center;
                font-size:1.4rem;
                font-weight: 600;
                color:var(--secondary-color);
                margin-right: 2rem;

                & span{
                    margin-right:4px;
                    font-size:22px !important;
                }

                &:hover{
                    color:#ff8d00;
                }

                @media screen and (max-width:768px){
                    margin-right:1rem;
                }

            }

            &-order{
                background:#1B99E5;
                margin-right: 2rem;

                &:hover{
                    background:#1B99E5;
                }

                @media screen and (max-width:768px){
                    margin-right:1rem;
                }

                @media screen and (max-width:425px){
                    padding:.5rem 1.5rem;
                    font-size:1.3rem;
                }
            }
            
        }
    }
}

/* MOBILE NAVIGATION BACKGROUND */
.mobile-nav-bg{
    background-color: rgba(36,48,53,.49);
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    display:none;
    z-index:7777;

    &.show-m-nav-bg{
        display: block;
    }
}

/* MOBILE NAVIGATION */
.mobile-nav{
    height:100%;
    width:100%;
    max-width: 35rem;
    right:-35rem;
    background:#fff;
    position:fixed;
    padding-top:4.5rem;
    padding-bottom: 1.4rem;
    z-index:8888;
    transition:250ms ease;

    &.show-m-nav{
        right:0;
    }

    


    &-items{
        font-size:1.8rem;
        color:var(--primary-color);


        &-item{
            display:flex;
            align-items:center;
            justify-content: space-between;
            padding: 1rem 3rem;
            
            &:hover{
                background:#EAF0F3;
            }
        }

    }
}
