.cardx{
    margin:1rem;
    display:flex;
    align-items: center;

    &-main{
        padding: 0 1rem;
        font-size:1.7rem;
        color:var(--primary-color);
        display:flex;
        flex-direction: column;
    }

    &-ratings{
        display: flex;
        font-family: var(--secondary-font);
        color:var(--primary-color);

        h1{
            font-size: 5rem;
            font-weight: 300;
        }
        span{
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
}