.cardxx{
    width:max-content;
    max-width: 35rem;
    background:#fff;
    border-radius: 13px;
    font-size:1.7rem;
    display:grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    padding: 0 4rem 3rem 4rem;


    &-btn{
        padding: 1.2rem 4rem;
        font-weight: 800;
    }
    
    &-title{
        display: grid;
        place-items: center;

        p:first-child{
            color:var(--primary-color);
            font-weight: bolder;
            padding: 8px 0;
        }
    }

    &-divider{
        width:100%;
        height:1px;
        background: #aaa;
        margin: 1rem 0;
    }

    &-img{
        margin-top:-6rem;
        
        img{
            height:10rem;
            border-radius: 50%;
            display: block;
            margin: auto;
        }
    }

    &-content{
        display:flex;
        justify-content: space-between;
        width:100%;
        padding-bottom: 1rem;

        p:first-child{
                color:var(--primary-color);
                font-weight: 500;
                display:grid;
                place-items:center;
        }
    }
}
