.ratings-wrapper{
    background: #EBF8FF;
    margin-bottom: 5rem;

    .ratings{
        display:flex;
        justify-content: space-around;
        padding: 3rem 0;
        flex-wrap: wrap;
    }
}




