.feedback-wrapper{
    background:#EBF8FF;
    padding-bottom: 0 !important;

    .feedback-ratings{
        display:flex;
        justify-content: space-around;
        padding-top: 2rem;
        flex-wrap: wrap;
    }
}


.feedback-slide-wrapper{
    background:#EBF8FF;
    padding-bottom: 5rem;

    .feedback-slide{
        width: 90% !important;
        max-width: 120rem !important;
        margin: 0 auto !important;
        cursor: pointer;

        & > div > div > div > div{
            margin:0 2rem;
        }
    }
}
