.footer-wrapper{
    margin-top:5rem;
    background:#033655;

    .footer{
        width:100%;
        max-width:120rem;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;

        @media screen and (max-width:768px){
            flex-direction: column-reverse;
            row-gap: 5rem;
        }
   

        &-privacy{
            display:flex;
            align-items: center;

            @media screen and (max-width:375px){
                flex-direction: column;
                row-gap:2rem;
            }

            &-content{
                padding-left:2rem;
                font-size: 1.6rem;
                width:100%;
                max-width:40rem;
                
                h2{
                    font-size:2rem;
                    color:#fff;
                    font-weight:500;
                }
                & > p{
                    color:#ccc;
                    font-weight:300;
                }
                &-p{
                    padding:1rem 0;
                }

                &-c{
                    padding-top:1rem;
                }
            }
        }

        &-contact{

            h2{
                font-size:2rem;
                color:#fff;
                font-weight:500;
            }

            div{
                display:flex;
                align-items: center;

                span:first-child{
                    color:#ccc;
                }

                span:last-child{
                    color:#ccc;
                    font-weight:300;
                    font-size:1.6rem;
                    padding-left: 8px;
                }
            }
        }
    }
}