.app{
    min-height:100vh;
}
.grid-wrapper{
    display:grid;
    place-items:center;
}
.max-wrapper{
    max-width:1400px;
    width:92%;

    &-title{
        font-size: 4.4rem;
        color:var(--primary-color);
        display:grid;
        place-items: center;
        font-family: var(--secondary-font);
        text-align: center;
        font-weight: 600;
        padding-bottom:2rem;

        @media screen and (max-width:768px){
            font-size:3.6rem;
        }
    }
}
.btn-large{
    padding:1rem 2rem;
    background:#FF7800;
    border-radius: 5px;
    font-size:1.4rem;
    font-weight:500;
    color:#ffff;

    &:hover{
        background:#ff9333;
    }
}

.max-big-spacing{
    padding: 5rem 0;
}

::selection {
  background-color: transparent;
}